@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Order>

@{
    string[] fields = ["OrderID", "Date", "Order Status","Payment Status", "Quantity", "Total"];
}

@Html.Hidden("sort", "", new { form = "f" })
@Html.Hidden("dir", "", new { form = "f" })

<p>
    @Model.Count() of @Model.TotalItemCount record(s) |
    Page @Model.PageNumber of @Model.PageCount
</p>

<table class="table">
    <tr>
        @foreach (var f in fields)
        {
            string d = "asc";
            string c = "";

            if (f == ViewBag.Sort)
            {
                d = ViewBag.Dir == "desc" ? "asc" : "desc";
                c = ViewBag.Dir;
            }

            <th>
                <a data-ajax="true"
                   data-ajax-update="#target"
                   data-ajax-loading="#loader"
                   href="?search=@ViewBag.Search&sort=@f&dir=@d" class="@c">@f</a>
            </th>
        }
        <th></th>
    </tr>

    @foreach (var o in Model)
    {
        <tr>
            <td>@o.OrderID</td>
            <td>@o.OrderDate.ToString("yyyy-MM-dd")</td>
            <td>@(o.Status ? "Success" : "Cancelled")</td>
            <td>@(o.Paid ? "Success" : "Cancelled")</td>
            <td>@o.OrderLines.Sum(ol => ol.Quantity)</td>
            <td>@o.OrderLines.Sum(ol => ol.Price * ol.Quantity)</td>
            <td>
                <button data-get="/Product/OrderDetail/@o.OrderID">Detail</button>
            </td>
        </tr>
    }
</table>

@{
    var options = PagedListRenderOptions.ClassicPlusFirstAndLast;
    options.LinkToFirstPageFormat = "First";
    options.LinkToLastPageFormat = "Last";
    options.LinkToPreviousPageFormat = "Previous";
    options.LinkToNextPageFormat = "Next";

    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "get",
        UpdateTargetId = "target",
        LoadingElementId = "loader"
    };
}

@Html.PagedListPager(
Model,
p => $"?search={ViewBag.Search}&sort={ViewBag.Sort}&dir={ViewBag.Dir}&page={p}",
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(options, ajaxOptions)
)
