@model IEnumerable<CartItem>


<table class="table">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
    </tr>

    @foreach (CartItem i in Model)
    {
        var max = 10;
        if (i.Ticket.Stock < max)
        {
            max = i.Ticket.Stock;
        }

        var list = new SelectList(Enumerable.Range(1, max), i.Quantity);

        <tr>
            <td>
                @i.Ticket.Type
            </td>
            <td>@i.Ticket.UnitPrice</td>
            <td>
                <form method="post"
                      action="/Product/UpdateCart">
                    @Html.DropDownList("Quantity", list, "")
                    @Html.Hidden("TicketID", i.Ticket.TicketID)
                </form>
            </td>
            <td>@i.Subtotal</td>
        </tr>
    }

    <tr>
        <td></td>
        <td></td>
        <td class="bold">@Model.Sum(i => i.Quantity)</td>
        <td class="bold">@Model.Sum(i => i.Subtotal)</td>
    </tr>
</table>

<br>

@* Disable button if shopping cart empty OR not member *@
@{

    var disabled = Model.Count() == 0 || !User.IsInRole("Member");
}

<button data-post="/Product/Checkout" disabled="@disabled">Checkout</button>

@* Show message if not member *@

@if (!User.IsInRole("Member"))
{
    <p>
        <a href="/Account/Login?returnURL=/Account/Login">Login</a>
        with member account to proceed checkout
    </p>
}