@model Ticket

@{
    ViewBag.Title = "Home | Detail";
}

<p>
    <img src="/images/student.png">
</p>

<table class="table detail">
    <tr>
        <th>Id</th>
        <td>@Model.TicketID</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <th>Unit Price</th>
        <td>@Model.UnitPrice</td>
    </tr>
    <tr>
        <th>Stock</th>
        <td>@Model.Stock</td>
    </tr>
    <tr>
        <th>Depature Time</th>
        <td>@Model.DepartureTime</td>
    </tr>
    <tr>
        <th>Source</th>
        <td>@Model.Source</td>
    </tr>
    <tr>
        <th>Destination</th>
        <td>@Model.Destination</td>
    </tr>
</table>

<p>
    <button data-get="/">Index</button>
</p>
