@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Admin>

@{
    string[] fields = ["Profile photo", "Id", "Name", "Email", "Additional"];
}

<button data-get="/UserAdministration/InsertAdmin">Insert</button>

@Html.Hidden("sort", "", new { form = "f" })
@Html.Hidden("dir", "", new { form = "f" })

<p>
    @Model.Count() of @Model.TotalItemCount record(s) |
    Page @Model.PageNumber of @Model.PageCount
</p>

<table class="table">
    <tr>
        @foreach (var f in fields)
        {
            string d = "asc";
            string c = "";

            if (f == ViewBag.Sort)
            {
                d = ViewBag.Dir == "des" ? "asc" : "des";
                c = ViewBag.Dir;
            }

            <th>
                <a data-ajax="true"
                   data-ajax-update="#target"
                   data-ajax-loading="#loader"
                   href="?name=@ViewBag.Name&sort=@f&dir=@d" class="@c">@f</a>
            </th>
        }
        <th></th>
    </tr>

    @foreach (var m in Model)
    {
        <tr>
            <td><img src="~/photos/@m.PhotoURL" alt="Profile Photo" style="max-width:100px; max-height:100px;"></td>
            <td>@m.UserId</td>
            <td>@m.Name</td>
            <td>@m.Email</td>
            <td>
               
                <button data-get="/UserAdministration/Detail/?email=@m.Email">Detail</button>

                <button data-get="/UserAdministration/UpdateAdmin/?email=@m.Email">Update</button>

                @if (m.Status == true)
                {
                    <button class="badge-danger"
                            data-post="/Account/ChangeUserStatus/?email=@m.Email">
                        Deactive
                    </button>
                }
                else
                {
                    <button class="badge-success"
                            data-post="/Account/ChangeUserStatus/?email=@m.Email">
                        Active
                    </button>
                }

                <button class="emergency-button"
                        data-post="/UserAdministration/DeleteAdmin/?email=@m.Email">Delete</button>

            </td>
        </tr>
    }
</table>

@{
    var options = PagedListRenderOptions.ClassicPlusFirstAndLast;
    options.LinkToFirstPageFormat = "First";
    options.LinkToLastPageFormat = "Last";
    options.LinkToPreviousPageFormat = "Previous";
    options.LinkToNextPageFormat = "Next";

    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "get",
        UpdateTargetId = "target",
        LoadingElementId = "#loader",
    };
}

<button onclick="location.href='@Url.Action("MTable", "UserAdministration")'">
    View Members?
</button>


@Html.PagedListPager(
Model,
p => $"?name={ViewBag.Name}&sort={ViewBag.Sort}&dir={ViewBag.Dir}&page={p}",
PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(options, ajaxOptions)
)
