@model IEnumerable<Event>

@{
    ViewBag.Title = "Home | Demo 3 - Import Events";
}

<form method="post" action="/Home/Import" enctype="multipart/form-data">
    <input type="file" name="file" accept="text/plain">
    <button>Import</button>
    <button data-post="/Home/Truncate">Truncate</button>
</form>

<p>@Model.Count() event(s)</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Time</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Id</td>
            @* TODO *@
            <td>@e.Date</td>
            <td>@e.Time</td>
            <td>@e.Name</td>
            <td>
                <button data-post="/Home/Delete/@e.Id">Delete</button>
            </td>
        </tr>
    }
</table>
