@inject DB db

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/images/Logo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/pager.css">
    <link rel="stylesheet" href="/css/app.css" asp-append-version="true">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("head", false)
</head>
<body>
    <div class="info">@Html.Raw(TempData["Info"])</div>

    <header>
        <h1><a href="/">E-Ticketing System</a></h1>

        @if (User.Identity!.IsAuthenticated)
        {
            <div>
                @User.Identity.Name |
                @(User.IsInRole("Admin")  ? "Admin"  : "")
                @(User.IsInRole("Member") ? "Member" : "")
            </div>
        }

        @if (User.IsInRole("Member"))
        {
            var photoURL = db.Members.Find(User.Identity!.Name)!.PhotoURL;
            <img src="/photos/@photoURL">
        }

        @if (User.IsInRole("Admin"))
        {
            var photoURL = db.Admins.Find(User.Identity!.Name)!.PhotoURL;
            <img src="/photos/@photoURL">
        }

    </header>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/Index">Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Product/ShoppingCart">Shopping Cart</a>
                    </li>

                    @if (User.IsInRole("Member"))
                    {

                        <li>
                            <a class="nav-link" href="/Product/Order">Order History</a>
                        </li>

                        <li><a class="nav-link" href="/Home/Email">FAQ</a></li>
                        
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li><a class="nav-link" href="/UserAdministration/askAM">User Administration</a></li>
                        <li> <a class="nav-link" href="/Ticket/Ticket">Ticket Maintenance</a></li>
                        <li> <a class="nav-link" href="/Product/OrderHistory">Order Maintenance</a></li>
                    }
                    </ul>


                    <ul class="navbar-nav ms-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Account</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Account/Logout">Logout</a></li>
                                <li><a class="dropdown-item" href="/Account/UpdateProfile">Update Profile</a></li>
                            </ul>
                        </li>
                        
                       
                    }
                    else
                    {
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Account</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Account/Login">Login</a></li>
                                <li><a class="dropdown-item" href="/Account/Register">Register</a></li>

                                </ul>
                        </li>
                    }
                    </ul>
            </div>
        </div>
    </nav>

    @* <nav>
        <a href="/">Index</a>
        <a href="/Product/Index">Product</a>
        <a href="/Product/ShoppingCart">Shopping Cart</a>

        @if (User.IsInRole("Member"))
        {
           
            <a href="/Product/Order">Order History</a>
            <a href="/Home/Email">FAQ</a>
        }
        @if (User.IsInRole("Admin"))
        {
            <a href="/UserAdministration/askAM">User Administration</a>
            <a href="/Ticket/Ticket">Ticket Maintenance</a>
            <a href="/Product/OrderHistory">Order Maintenance</a>
        }


        <div></div>

        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Account/Logout">Logout</a>
        }
        else
        {
            <a href="/Account/Login">Login</a>
            <a href="/Account/Register">Register</a>
        }
        @if (User.IsInRole("Member"))
        {
            <a href="/Account/UpdateProfile">Update Profile</a>
        }

        @if (User.IsInRole("Admin"))
        {
            <a href="/Account/UpdateProfile">Update Profile</a>
        }

    </nav> *@

    <main>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </main>

    <footer>
        Developed by <b>DFT2S1G8</b> &middot;
        Copyrighted &copy; @DateTime.Today.Year
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/app.js" asp-append-version="true"></script>
    @RenderSection("foot", false)
</body>
</html>
